body{ 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{ 
    background-color: #ffc0cb; 
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

header h1 {
    color: #8b008b;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #8b008b; 
    font-weight: bold;
    transition: color 0.3s; 
}

nav ul li a:hover { 
    color: #FFD700;  
}

#hero {
    background-color: #c5729c; 
    padding: 60px 20px;
    text-align: center; 
}
#hero h2{
    color: #8b008b;
    font-size: 2.5em;
    margin-bottom: 15px;
}
#hero p {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #ffd700;
    color : #8b008b;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    display:inline-block;
    transition: background-color 0.3s;
}
.btn-primary:hover{
    background-color: #ffc0cb;
}

#servicos {
    padding: 60px 20px;
    background-color: #f7f7f7; 
    text-align: center;
}

#servicos h2 {
    color: #8b008b; 
    font-size: 2em;
    margin-bottom: 40px;
}

.servicos-container {
    display: flex;
    justify-content: space-around; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
}

.servico-card {
    background-color: #FFC0CB; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #FFD700; 
    flex: 1; 
    text-align: left;
    border: 2px solid #8b008b; 
    transition: transform 0.3s;
}

.servico-card:hover {
    transform: translateY(-5px); 
    box-shadow: 8px 8px 0px #FFD700; 
}

.servico-card h3 {
    color: #8b008b;
    margin-top: 0;
    border-bottom: 2px solid #FFD700; 
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.servico-card p {
    color: #333;
    line-height: 1.6;
}

#quemsomos {
    padding: 60px 20px;
    background-color: #FFC0CB; 
    color: #8b008b; 
}

#quemsomos h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
    color: #8b008b;
}
/* Ultimas info*/
.sobre-conteudo {
    display: flex;
    align-items: center; 
    gap: 40px; 
    max-width: 1000px;
    margin: 0 auto;
}

.sobre-texto {
    flex: 2; 
    text-align: left;
    line-height: 1.8;
}

.sobre-imagem {
    flex: 1; 
    background-color: #FFD700; 
    height: 300px;
    border-radius: 10px;
}

.sobre-texto h3 {
    color: #8b008b;
    margin-top: 30px;
    border-bottom: 2px solid #8b008b;
    padding-bottom: 5px;
}

.sobre-texto ul {
    list-style: none; 
    padding-left: 0;
}

.sobre-texto li {
    margin-bottom: 10
}
/*Falta adcionar o rodapé da página*/ 
/*Após assitir os módulos 2 e 3 de HTML5 e CC3, voltar aqui pra adicionar as interações me JS/* 